server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/recruiting
    username: recruiting
    password: recruiting
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

app:
  storage:
    base-path: ./data/resumes
